---
layout: default
---

<style>
  .header {
    background-image: "../images/updates-and-patches-1900.jpg";
    height: 681px;
  }

  .list-content {
    height: 400px;
  }

  .list-content:hover {
    z-index: 100;
    background: #eeeeeebf;
    border: .5px solid #ccc;
  }


  .list-content div {
    text-align: center
  }

  .list-content p {
    padding: 15px;
  }

  .list-content-container a:link {
    text-decoration: none;
    color: black;
  }

  .list-content-container a:visited {
    text-decoration: none;
    color: black;
  }

  .list-content-container a:hover {
    text-decoration: none;
    color: black;
  }

  .list-content-container a:active {
    text-decoration: none;
    color: black;
  }
</style>
<div class="row">
  <div class="col-md-4 list-content-container">
    <a href="{{site.baseurl}}/what-is-msb"> 
      <div class="list-content">
        <div class="col-md-12">
          <img src="{{site.baseurl}}/images/logo_head.svg" style="height: 125px" />
        </div>
        <div class="col-md-12">
          <h2>microServiceBus.com?</h2>
        </div>
        <p>This chapter will be about getting started with Git. We will begin by explaining some background on version
          control tools, then move on to how to get Git running on your system and finally how to get it set up to start
          working with. At the end of this chapter you should understand why Git is around, why you should use it and
          you
          should be all set up to do so.</p>
      </div>
    </a>
  </div>

  <div class="col-md-4 list-content-container">
    <a href="{{site.baseurl}}/gettingStarted-list">
      <div class="list-content">
        <div class="col-md-12">
          <img src="{{site.baseurl}}/images/gettingStarted.svg" style="height: 125px" />
        </div>
        <div class="col-md-12">
          <h1> Getting started</h1>
        </div>
        <p>This chapter will be about getting started with Git. We will begin by explaining some background on version
          control tools, then move on to how to get Git running on your system and finally how to get it set up to start
          working with. At the end of this chapter you should understand why Git is around, why you should use it and
          you
          should be all set up to do so.</p>
      </div>
    </a>
  </div>

  <div class="col-md-4 list-content-container">
    <a href="{{site.baseurl}}/quickreference-list">
      <div class="list-content">
        <div class="col-md-12">
          <img src="{{site.baseurl}}/images/quickreference.svg" style="height: 125px" />
        </div>
        <div class="col-md-12">
          <h1>Quick reference</h1>
        </div>
        <p>This chapter will be about getting started with Git. We will begin by explaining some background on version
          control tools, then move on to how to get Git running on your system and finally how to get it set up to start
          working with. At the end of this chapter you should understand why Git is around, why you should use it and
          you
          should be all set up to do so.</p>
      </div>
    </a>
  </div>

  <div class="col-md-4 list-content-container">
    <a href="{{site.baseurl}}/news">
      <div class="list-content">
        <div class="col-md-12">
          <img src="{{site.baseurl}}/images/news.svg" style="height: 125px" />
        </div>
        <div class="col-md-12">
          <h1>News</h1>
        </div>
        <p>This chapter will be about getting started with Git. We will begin by explaining some background on version
          control tools, then move on to how to get Git running on your system and finally how to get it set up to start
          working with. At the end of this chapter you should understand why Git is around, why you should use it and
          you
          should be all set up to do so.</p>
      </div>
    </a>
  </div>

  <div class="col-md-4 list-content-container">
    <a href="http://example.com">
      <div class="list-content">
        <div class="col-md-12">
          <img src="{{site.baseurl}}/images/administrativetasks.svg" style="height: 125px" />
        </div>
        <div class="col-md-12">
          <h1>Administration</h1>
        </div>
        <p>This chapter will be about getting started with Git. We will begin by explaining some background on version
          control tools, then move on to how to get Git running on your system and finally how to get it set up to start
          working with. At the end of this chapter you should understand why Git is around, why you should use it and
          you
          should be all set up to do so.</p>
      </div>
    </a>
  </div>

  <div class="col-md-4 list-content-container">
    <a href="http://example.com">
      <div class="list-content">
        <div class="col-md-12">
          <img src="{{site.baseurl}}/images/integration.svg" style="height: 125px" />
        </div>
        <div class="col-md-12">
          <h1>Integration</h1>
        </div>
        <p>This chapter will be about getting started with Git. We will begin by explaining some background on version
          control tools, then move on to how to get Git running on your system and finally how to get it set up to start
          working with. At the end of this chapter you should understand why Git is around, why you should use it and
          you
          should be all set up to do so.</p>
      </div>
    </a>
  </div>

</div>